@use "variables" as *;

body {
    font-family: $base-font;
    color: $dark1;
}

#main {
    padding-bottom: 65px;
}

h1 {
    font: 700 clamp(24px, 5vw, 48px) $secondary-font;
    letter-spacing: -1px;
    margin-bottom: 16px;

    span {
        position: relative;
        display: inline-block;
    }

    .mark {
        position: absolute;
        right: -3.5rem;
        top: -2.5rem;
        background: $yellow;
        text-transform: uppercase;
        color: $dark2;
        font-size: .75rem;
        font-style: normal;
        padding: .25rem .75rem;
        border-radius: .5rem;
        transform: rotate(10deg);
    }
}

h2 {
    font: 700 clamp(16px, 5vw, 24px) $secondary-font;
    margin-bottom: 29px;
}

a {
    text-decoration: none;
}